* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: "TTLakesCondensed-Bold";
    src: url(./Fonts/TTLakesCondensed-Bold.woff)
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'TT Lakes', sans-serif;
}

header {
    background-color: #FFFFFF;
}

.upperMenu_mob {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 5em;

}

h1 {
    color: #1B1C21;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 28px;
    border-left: 4px solid #41F6D7;
    font-family: "TTLakesCondensed-Bold";
}

.header-navigator {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

}

button {
    display: inline-flex;
    border: none;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.header-button {
    padding: 0.5rem;
    font-weight: normal;
}

.menu-scroll__firstbutton {
    border: 2px solid #B8FFEC;
}

span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

main {
    background-color: #F8F8F8;
}

.text {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding: 1rem;
}

.containertext__button {
    padding: 1rem;
    font-weight: 500;
    font-size: 16px;
}
