* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "TTLakesCondensed-Bold";
    src: url(./Fonts/TTLakesCondensed-Bold.ttf)
}

@font-face {
    font-family: "TTLakes-Regular";
    src: url(./Fonts/TTLakes-Regular.ttf);
}

@font-face {
    font-family: "TTLakes-Medium";
    src: url(./Fonts/TTLakes-Medium.ttf);
}
body {
    width: 100%;
    overflow-x: hidden;
    font-family: "TTLakes-Regular";
    background-color: #F8F8F8;
}

.header {
    display: flex;
    max-width: 320px;
    max-height: 88px;
    box-sizing: border-box;
}

.header__icon--burger {
    padding-top: 0.9rem;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    box-sizing: border-box;
    max-width: 320px;
    max-height: 88px;
    padding: 1.5rem 1rem;
}
.header__menu__left {
    display: flex;
    width: 53%;
    gap: 1rem;
}
.header__menu__right {
    display: flex;
    width: 35%;
    gap: 1rem;
}
.services__nav {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    max-height: 40px;
    box-sizing: border-box;
}

.header__actions {
    display: none;
}

.header-tittle {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    border-left: 4px solid #41F6D7;
    font-family: "TTLakesCondensed-Bold";
    height: 40px;
    padding-left: 1rem;
    margin: 1.5rem 0 1.5rem 0;
    color: #1B1C21;
}

.services__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 1.5rem 0;
    overflow-x: auto;
    white-space: nowrap;
    gap: 9px;
}

.services__item {
    flex-shrink: 0;
}

button {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

.services__button--active {
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
    width: 248px;
    height: 40px;
    border-radius: 6px;
    padding: 8px 9px 8px 16px;
}

.services__button {
    color: #7E7E82;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.main-content {
    background-color: #F8F8F8;
}

.about__text {
    font-family: "TTLakes-Regular";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    line-height: 20px;
}

.about__content-text {
    background-color: #F8F8F8;
}

.about__button {
    padding: 1rem 1rem;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    font-family: "TTLakes-Regular";
}

.about__button__text {
    padding: 1rem 0.5rem;
}

@media(min-width: 321px) and (max-width: 785px) {
    .header__actions {
        display: flex;
    }
    .header {
        display: flex;
        max-width: 768px;
        max-height: 88px;
    }
    .header__menu {
        display: flex;
        gap: 20px 50px;
        max-width: 768px;
        max-height: 88px;
    }
    .header__menu__left {
        display: flex;
        gap: 1rem;
    }
    .header__icon--burger {
    padding: 0 6px 0 0;
    }
    .header {
        margin: 0 1rem 0 0;
        padding: 1.5rem;
        width: 768px;
        height: 88px;
    }
    .header__menu {
        display: flex;
        gap: 20rem;
    }
    .header__menu__left {
        margin-left: auto;
    }
    .header__menu__right {
        margin-right: auto;
    }
    .header__actions {
        display: flex;
        gap: 1rem;
    } 
    .header__icon--call {
        position: absolute;
        left: 454px;
        top: 24px;
    }
    .header__icon--chat {
        position: absolute;
        left: 510px;
        top: 24px;
    }
    .header__icon--profile {
        position: absolute;
        left: 566px;
        top: 24px;
    }
    .header__icon--repair {
        position: absolute;
        left: 648px;
        top: 24px;
    }
    .header__icon--check {
        position: absolute;
        left: 704px;
        top: 24px;
    }
    .header__icon--logo {
        position: absolute;
        left: 106.73px;
        top: 18.59px;
    }
    .header__icon--burger {
        position: absolute;
        left: 24px;
        top: 24px;
    } 
    .about__content {
        display: flex;
        width: 720px;
        height: 208px;
        margin-top: 1.5rem;
    }
    .about__content-text {
        width: 1;
    }
    .about__content_image {
        width: 1;
    } 
    .about__content_image {
        width: 360px;
        height: 208px;
    }  
}
@media (min-width: 786px) {
    .header {
        display: none;
    }
}